{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title is-1">Projet chef d'oeuvre</h1>
    <section class="section">
        <p class="block">
            Le projet <strong>Chef d'Oeuvre</strong> est un projet qui me permet d'experimenter des technologies, mettre en place des fonctionnalités, et me sert donc à faire de la veille.
        </p>
        <p class="block">Ce projet repose sur un socle <span class="tag is-link">Symfony 7.4</span> et <span
                    class="tag is-link">VueJs 3</span> et utilise docker pour toutes les briques externes
            (elasticsearch, mysql, redis ...)</p>
    </section>
    <section class="section">
        <h2 class="title">Fonctionnalités</h2>
        <div class="columns">
            <div class="column">
                <div class="card has-background-link-light">
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title">Calculateur Impot</h3>
                            <p>Permet de calculer le montant de votre impot sur le revenue d'un foyer.</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('impots_index') }}" class="card-footer-item">Voir plus</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card has-background-link-light">
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title">ISS</h3>
                            <p>Permet de voir où se trouve l'iss en temps réel.</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('iss_index') }}" class="card-footer-item">Voir plus</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card has-background-link-light">
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title">Communes</h3>
                            <p>Permet de voir où se trouve toutes les communes d'un département.</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('cities_index') }}" class="card-footer-item">Voir plus</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card has-background-link-light">
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title">Messenger</h3>
                            <p>Permet d'envoyer un message à RabbitMq</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('messenger_test') }}" class="card-footer-item">Voir plus</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card has-background-link-light">
                    <div class="card-content">
                        <div class="content">
                            <h3 class="title">Chart JS</h3>
                            <p>Graphique avec Chart JS</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ path('chart_index') }}" class="card-footer-item">Voir plus</a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
    <div class="columns">
        {{ include('homepage/todo.html.twig') }}
        {{ include('homepage/apis.html.twig') }}
        {{ include('homepage/ports.html.twig') }}
    </div>
{% endblock %}

