<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Chef D'oeuvre{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </head>
    <body>

        {% include 'components/navbar.html.twig' %}

        <section class="section">
            <div class="container">
                {% block body %}

                {% endblock %}
            </div>
        </section>

        {{ include('components/footer.html.twig') }}

    </body>
</html>
